@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-geist-sans: "Inter", sans-serif;
    --font-playfair: "Playfair Display", serif;
  }
  
  html, body {
    @apply bg-brand-black text-brand-white antialiased selection:bg-brand-gold selection:text-brand-black;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
